<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- switch off nasty warnings shown for memory db -->
    <logger name="com.orientechnologies.orient.core.db.record.ODatabaseRecordAbstract" level="ERROR"/>

    <logger name="com.orientechnologies" level="INFO"/>

    <logger name="ru.vyarus.guice.persist.orient" level="DEBUG"/>
    <!-- transaction manager logs -->
    <logger name="ru.vyarus.guice.persist.orient.db.transaction.internal.DefaultTransactionManager" level="DEBUG"/>
    <!-- @Transactional annotation handling -->
    <logger name="ru.vyarus.guice.persist.orient.db.transaction.internal.TransactionInterceptor" level="DEBUG"/>
    <!-- pools -->
    <logger name="ru.vyarus.guice.persist.orient.db.pool" level="DEBUG"/>

    <logger name="ru.vyarus.guice.persist.orient.db.scheme.initializer" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>